@font-face {
    font-family: montserrat;
    src: url(../../fonts/Montserrat-Regular.ttf);
}

$color-first: #f72585;
$color-second: #1c3554;
$color-third: #021934;
$color-fourth: #e6e6e6;
$color-fifth: #ccc;
$color-sixth: #0007;
$color-seventh: #4586d6;

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: #fff;
  font-family: "Montserrat";
  font-family: montserrat !important;
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
    transition: all 0.5s linear;
    a {
      img {
        margin-left: 40px;
      }
    }
    ul {
      display: flex;
      align-items: center;
      gap: 40px;
      li {
        list-style: none;
        a {
            color: $color-second;
            font-family: "Montserrat";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px;
            text-decoration: none;
            transition: all 0.5s linear;
            &:hover {
            color: $color-fifth ;
            }
            button {
                display: inline-flex;
                padding: 8px 32px;
                align-items: flex-start;
                gap: 10px;
                border-radius: 8px;
                border: 1px solid var(--Text-Tittle, #1C3554);
                color: var(--Text-Tittle, #1C3554);
                background-color: #fff;
                font-family: "Montserrat";
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 32px;
                margin-right: 40px;
                cursor: pointer;
                &:hover {
                    background-color: $color-first;
                    border: 2px solid $color-first;
                    color: #fff;
                    transition: all .3s linear;
                }
            }
    .form-field1 {
      form {
        .input2 {
                    width: 443px;
                    height: 48px;
                    flex-shrink: 0;
                    outline: none;
                    border-radius: 8px;
                    border: 1px solid var(--Text-In-Field, #CCC);
                    color: var(--Text-Body, #808080);
                
                    font-family: Montserrat;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    padding-left: 16px;
                    background-image: url(../../images/search.svg);     
                }
              }
          }
        }
      }
    }
    #navbar-responsive.open {
      left: 0;
    }

    .menu-btn {
      border: 0;
      background: transparent;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      gap: 4px;
      display: none;
      padding: 19.5px 0;
    }
    .menu-btn span {
      display: block;
      width: 30px;
      height: 4px;
      background-color: #000;
    }
    @media (max-width: 850px) {
      #navbar-responsive {
        position: fixed;
        top: 91px;
        bottom: 0;
        left: -100%;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $color-fourth;
        transition: 0.5s;
      }

      .menu-btn {
        display: flex;
      }
    }
        @media (max-width:429px)and (min-width:320px) {
      .form-field1 {
          form {
            .input2 {
            }
          }
        }
        }
  }
  .navbar-shrink {
    padding: 8px 0;
    .menu-btn {
      padding: 10px 0;
    }
    #navbar-responsive {
      top: 56px;
    }
  }
}